*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #000
}

.fundo{
  padding-top: 2rem;
  margin: 60px auto 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../image/imagem\ de\ fundo\ 2.png');
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem */
  background-repeat: repeat; /* Evita repetição da imagem */
}

header{
  animation: gradient 4s ease-in-out infinite alternate ;
  background: linear-gradient(-45deg, #992900, #651b00, #320d00, #000) no-repeat;
  background-size: 200% 200%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 100vw;
  height: 60px;
  color: white;
  align-items: center;
  position: fixed; /* Define o cabeçalho como fixo */
  top: 0; /* Define a posição do topo */
  z-index: 1000; /* Define a ordem de empilhamento */
}

@keyframes gradient {
  from {
    background-position: 0 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

iframe{
  margin: 2rem auto;
  border: 2px solid red;
}

.youtube{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.logo{
  width: 3rem;
  height: 3rem;
  padding: 10px;
  border-radius: 30px;
}

.nome-site{
  padding: 10px;
  align-self: center;
  margin-right: auto;
}

.cabeçalho{
  display: flex;
  height: 100%;
  align-items: center;
}

ul{
  display: flex;
  list-style: none;
}

li{
  padding-right: 30px;
  color: white;
}

button{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

button:hover{
  color: red;
}
.historia {
  display: flex;
  flex-direction: column;
  max-height: 1200px;
  color: white; 
  padding: 20px; 
  text-align: justify;
}

p{
  text-indent: 50px;
}

h2 {
  background-color: orangered;
  color: #fff;
  text-align: center;
  border: 3px solid rgba(255, 68, 0, 0.815);
  border-radius: 15px;
  box-shadow: 0 0 3px 2px #ff8f66;
  margin-bottom: 2rem;
}

.titulo {
  background-color: orangered;
  color: #fff;
  text-align: center;
  border: 3px solid rgba(255, 68, 0, 0.815);
  border-radius: 15px;
  box-shadow: 0 0 3px 2px #ff8f66;
  margin-bottom: 2rem;
}

main{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer{
  display: flex;
  background-color: black;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 12px;  
  box-sizing: border-box;
  position: fixed; /* Define o rodape como fixo */
  bottom: 0; /* Define a posição embaixo */
  z-index: 1001; /* Define a ordem de empilhamento */
}

.roda_pe{
  display: flex;
  padding-right: 20px;
  gap: 15px;
  align-items: center;
}

.roda_pe a {
  text-decoration: none; /* Remove o sublinhado padrão */
  color: #333; /* Define a cor do texto para cinza escuro */
}

.roda_pe a:hover {
  color: #666; /* Define a cor do texto quando passar o mouse sobre o link */
}

.roda_pe i {
  font-size: 20px; /* Define o tamanho da fonte */
  color: #ff8f66; /* Define a cor do ícone */
}

.roda_pe i:hover{
  color: #ff4500;
}

.container{
  max-width: 500px;
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 0 3px 4px #ff8f66;
  margin: 60px auto;
  background-color: orangered;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.container h2{
  margin: 0; /* Remove a margem padrão do h2 */
  padding: 10px 0; /* Adiciona um espaçamento interno */
  text-align: center; /* Centraliza o texto horizontalmente */
  font-size: 24px; /* Define o tamanho da fonte do h2 */
  color: #fff; /* Define a cor do texto do h2 */
  box-shadow: none;
}

form{
  padding: 10px;
  width: 80%;
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}



label{
  font-size: 12px;
  color: #00baff;
  font-weight: bold;
  align-self: flex-start;
  margin-top: 10px;
}

input{
  align-self: stretch;
  border-radius: 5px;
}

input[type="submit"] {
  margin-top: 10px;
  height: 20px;
  align-self: center;
  background-color: #3bff00;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (max-width: 750px) {
  .nome-site{
    font-size: 1rem;
   }

   div.container{
    width: 80%;
  }
}

@media screen and (max-width: 495px){
  
  .roda_pe{
    display: grid;
    grid-template-areas: "rede r1 r2" "rede r3 r4";
    gap: .4rem;
  }

  .roda_pe i{
    font-size: 15px;
  }
  .rede{
    grid-area: rede;
  }

  .r1{
    grid-area: r1;
    font-size: .6rem;
  }
  .r2{
    grid-area: r2;
    font-size: .6rem;
  }
  .r3{
    grid-area: r3;
    font-size: .6rem;
  }
  .r4{
    grid-area: r4;
    font-size: .6rem;
  }

  div.container{
    width: 90%;
  }
}
  



@media screen and (max-width: 665px) {
  
  header{
    height: 100px;
  }
  
  ul{
    display: grid;
    grid-template-areas: "li1 li2" "li3 li4" "li5 li5";
    padding-inline-start: 0;
  }

  .cabecalho{
    font-size: 5px;
    gap: 5px;
    margin: 0 auto;
  }
  li{
    font-size: 5px;
    
  }

  .li1{
    grid-area: li1;
  }
  .li2{
    grid-area: li2;
  }
  .li3{
    grid-area: li3;
  }
  .li4{
    grid-area: li4;
  }
  .li5{
    grid-area: li5;
    justify-self: center;
  }
  form{
      margin: 15px auto 20px auto;
  }
  body{
    margin-top: 100px;
  }
}

.center-text {
  text-align: justify;
  margin: 0 auto;
  max-width: 800px; /* ou outro valor adequado para o conteúdo */
}

.info {
  color: white; /* Muda a cor do texto para branco */
  font-size: 18px; /* Define o tamanho da fonte para 18 pixels */
}

