html{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  background-color: #1C1C1C;
  box-sizing: border-box;
}

body{
  height: 100vh;
  color: #fff;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  align-items: center;
  position: fixed; /* Define o cabeçalho como fixo */
  top: 0; /* Define a posição do topo */
  z-index: 1000; /* Define a ordem de empilhamento */
}

.logo{
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 30px;
}

.nome-site{
  font-size: small;
  padding: 10px;
  align-self: center;
  margin-right: auto;
}

.cabeçalho{
  display: flex;
  height: 100%;
  align-items: center;
}

ul{
  display: flex;
  list-style: none;
}

li{
  padding-right: 30px;
  color: white;
}

button{
  background-color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

button:hover{
  color: red;
}
.historia {
  color: white;
  text-align: center; 
  max-width: 800px; 
  margin: 75px auto 20px; 
  padding: 20px; 
  text-align: justify;
}

p{
  text-indent: 50px;
}

h2{
  background-color: orangered;
  color: black;
  text-align: center;
  border: 3px solid rgba(255, 68, 0, 0.815);
  border-radius: 15px;
  box-shadow: 3px 5px rgba(255, 68, 0, 0.37);
  
}

main{
  margin-top: 80px;

}


footer{
  display: flex;
  background-color: black;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 12px;  
  box-sizing: border-box;
}

.roda_pe{
  display: flex;
  padding-right: 20px;
  gap: 15px;
  align-items: center;
}


form{
  margin-top: 80px;
  margin: 80px auto;
}

@media screen and (max-width: 650px) {
  
  header{
    height: 100px;
  }
  ul{
    display: grid;
    grid-template-areas: "li1 li2" "li3 li4" "li5 li5";
  }

  .cabecalho{
    font-size: 5px;
    gap: 5px;
    margin: 0 auto;
  }
  li{
    font-size: 5px;
    
  }

  .li1{
    grid-area: li1;
  }
  .li2{
    grid-area: li2;
  }
  .li3{
    grid-area: li3;
  }
  .li4{
    grid-area: li4;
  }
  .li5{
    grid-area: li5;
    justify-self: center;
  }
}